.container
  .row-fluid#users
    each user in users
      .user-container
        img(src="http://www.gravatar.com/avatar/#{user.gravatar_id}?s=400")
        a(href="#{user.html_url}")
          h4 #{user.name}
        p ( #{user.nickname} )
        .blog
          a(href="#{user.blog") #{user.blog}
        .social
          .entry
            p Followers
            p #{user.followers}
          .entry
            p Stars
            p #{user.stars}
          .entry
            p Following
            p #{user.following}
